name: Deploy saksbehandling

on:
  push:
    branches: [ main ]

env:
  IMAGE: europe-north1-docker.pkg.dev/${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}/aap/${{ github.repository }}-${{ github.sha }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
        packages: write
        id-token: write
        contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          java-version: 20
          distribution: 'temurin'

      - uses: gradle/gradle-build-action@v2.8.0
        with:
          arguments: test buildFatJar --continue --no-daemon --configuration-cache

      - name: Login GAR
        uses: nais/login@v0
        with:
            project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
            identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
            team: aap

      - name: Build and push Docker
        uses: docker/build-push-action@v4
        with:
            context: .
            file: Dockerfile
            tags: ${{ env.IMAGE }}:latest
            push: true
            cache-from: type=gha
            cache-to: type=gha,mode=max


  deploy-dev:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v1
        env:
          PRINT_PAYLOAD: true
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: .nais/app.yml
