name: Deploy saksbehandling

on:
  push:
    branches: [ main ]
    paths-ignore:
        - '.github/pr.yml'
        - '*.md'

jobs:
  build:
    runs-on: ubuntu-latest-8-cores
    permissions:
        contents: read
        id-token: write
        packages: write
    services:
        postgres:
            image: postgres:16
            env:
                POSTGRES_PASSWORD: postgres
            ports:
                - 5432:5432
            options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4.2.1
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Setup Gradle for a non-wrapper project
        uses: gradle/actions/setup-gradle@v3
        with:
            gradle-version: 8.7
      - name: Bygg & test
        run: gradle test buildFatJar --continue --no-daemon --configuration-cache --stacktrace --info

      - uses: nais/docker-build-push@v0
        id: docker-push
        with:
            team: aap # required
            project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }} # required, but is defined as an organization variable
            identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }} # required, but is defined as an organization secret
    outputs:
        image: ${{ steps.docker-push.outputs.image }}

  deploy-dev:
    needs: build
    runs-on: ubuntu-latest
    permissions:
        contents: read
        id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          PRINT_PAYLOAD: true
          CLUSTER: dev-gcp
          RESOURCE: .nais/app.yml
          VAR: image=${{ needs.build.outputs.image }}
