name: Pull Request

on: pull_request

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
            packages: write
        services:
            postgres:
                image: postgres:16
                env:
                    POSTGRES_PASSWORD: postgres
                ports:
                    - 5432:5432
                options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        steps:
            -   uses: actions/checkout@v4
            -   uses: actions/setup-java@v4.0.0
                with:
                    java-version: 21
                    distribution: 'temurin'

            - name: Setup Gradle for a non-wrapper project
              uses: gradle/actions/setup-gradle@v3
              with:
                  gradle-version: 8.7
            - name: Bygg & test
              run: gradle test --continue --no-daemon --configuration-cache


    merge:
        if: ${{ github.actor == 'dependabot[bot]' }}
        runs-on: ubuntu-latest
        needs: build
        permissions:
            contents: write
        steps:
            -   run: gh pr merge --auto --rebase "$PR_URL"
                env:
                    PR_URL: ${{ github.event.pull_request.html_url }}
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}