name: Pull Request

on: pull_request

jobs:
    build:
        permissions:
            pull-requests: write
            checks: write
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v4
            -   uses: actions/setup-java@v4.0.0
                with:
                    java-version: 21
                    distribution: 'temurin'

            -   uses: gradle/actions/setup-gradle@v3
            -   run: ./gradlew test --continue --no-daemon


    merge:
        if: ${{ github.actor == 'dependabot[bot]' }}
        runs-on: ubuntu-latest
        needs: build
        permissions:
            contents: write
        steps:
            -   run: gh pr merge --auto --rebase "$PR_URL"
                env:
                    PR_URL: ${{ github.event.pull_request.html_url }}
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}